doctype html
html(lang='en')
  head
    title Personal Pokedex
    style
      include pokemon.css

  body
    h3 Pokemon List
    .container
      .name
      .picture
    script
      include pokemon.js